* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}


body {
    background-image:url("../../assets/images/yellow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: #936E2D;
}

// h1 {
//     font-size: 30px;
//     background-color: #9E3522;
//     color: #23180B;
//     height: 40px;
// }

// input {
//     height: 50px;
//     width: 100px;
//     border: 2px solid black;
//     margin: 15px;

//     &::placeholder {
//         color: red;
//         font-size: 1.2em;
//         font-style: italic;
//       }
// }

#movieList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFE362;
    // width: 100%;
    // height: 100%;

    .card {
        // height: 490px;
        margin: 10px;
        padding: 5px; 

        .card-text {
            height: auto;
            text-align: center;
            // font-size: 22px;
        }

        .card-img-top {
            height: 350px;
            margin: 3px;
        }

        .btn-primary {
            height: 8%;
        }
    }
//     div {
//         display: flex;
//         flex-direction: column;
//         width: 300px;
//         height: 350px;
//         border: 2px solid black;
//         margin: 10px;
//         text-align: center;
//         justify-items: center;
    
//         img {
//             height: 80%;
//             width: 100%;
//             margin: 0 auto;
//         }
        
//         p {
//             // height: 30%;
//             // width: 100%;
//             margin: 0 auto;
//         }    
//     }
}

.fav {
    border: 2px solid black;
}

