* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
    color: #ff793f;
}


body {
    background-color: #2c2c54;
}

#movieList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#2c2c54;

    .card {
        height: 450px;
        margin: 10px;
        padding: 5px;
        border: 3px solid #ff793f;
        text-align: center;
        background-color: #f1f2f6;

        .card-text {
            // height: auto;
            text-align: center;
            font-size: 18px;
            color: #2c2c54;
        }

        .card-img-top {
            height: 270px;
            width: 250px;
            margin: 3px;
            border: 2px solid #706fd3;
        }

        .btn-primary {
            margin-top: 3px;
        }
    }
}

